/*Global*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial;
}
h1{
    margin-bottom: 20px;
}
h2{
    padding: 20px;
    text-align: center;
}
p{
    line-height: 2;
}
a{
    color: black;
    text-decoration: none;
}
img{
    max-width: 100%;
}
/*Main*/
.about-container{
    max-width: 65%;
    margin: 0 auto;
    background-color: lightgrey;
}
.about-pic{
    border: 3px solid black;
    height: 350px;
    border-radius: 50%;
}
.about-flex{
    display: flex;
    padding: 15px;
}
.about-flex p{
    margin-left: 6%;
    text-indent: 5%;
    padding-top: 40px;
}
.about-summary{
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
    font-size: 18px;
    padding-bottom: 80px;
}
/*Blog Main*/
.blog-container{
    max-width: 50%;
    margin: 0 auto;
    background-color: lightgrey;
    padding-bottom: 40px;
}
.blog-main-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.blog-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog-text p{
    text-align: center;
    margin-bottom: 15px;
}
.blog-text h3{
    text-align: center;
}
.blog-item-container-left{
    background-color: darkgray;
    width: 70%;
    display: flex;
    flex-direction: row;
    border: 2px solid darkgray;
    border-radius: 50px;
    height: 100px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 30px 20px;
    margin-top: 30px;
    border: 2px solid rgb(99, 99, 99);
    margin-left: 2%;
}
.blog-item-container-right{
    background-color: darkgray;
    width: 70%;
    display: flex;
    flex-direction: row;
    border: 2px solid darkgray;
    border-radius: 50px;
    height: 100px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 30px 20px;
    margin-top: 30px;
    margin-left: auto;
    border: 2px solid rgb(99, 99, 99);
    margin-right: 2%;
}
.blog-item-container-left:hover{
    width: 72%;
    height: 110px;
    background-color: rgb(133, 133, 133);
}
.blog-item-container-right:hover{
    width: 72%;
    height: 110px;
    background-color: rgb(133, 133, 133);
}
.blog-item-container p{
    max-width: 90%;
}
.blog-pic{
    border: 3px solid black;
    height: 100%;
    border-radius: 30%;
}
/*Header*/
.header-main{
    background-image: url(../img/header.jpg);
    background-position: top center;
    height: 400px;
    text-align: center;
    color: white;
}
.header-main h1{
    margin-bottom: 10px;
}
.index-nav{
    padding: 1%;
    color: white;
}
a.index-nav:hover{
    text-decoration: underline;
}
.header-main p{
    margin-top: 100px;
}
/*Footer*/
.footer{
    background-image: url(../img/encuentra.jpg);
    background-position: center;
    background-size: 150%;
    height: 350px;
    color: white;
}
.footer-container{
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    padding-bottom: 80px;
}
.footer h2{
    margin-bottom: 0px;
    margin-left: 0px;
}
.footer p{
    padding-bottom: 20px;
}
/*Utilities*/
.btn{
    display: block;
    background-color: rgb(201, 130, 0);
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-size: small;
}
.btn:hover{
    background-color: rgb(117, 83, 19);
}
.blog-btn{
    display: block;
    background-color: rgb(201, 130, 0);
    color: white;
    height: 50px;
    width: 150px;
    border: 2px solid black;
    text-align: center;
    align-content: center;
}
.blog-btn:hover{
    text-decoration: underline;
}
.flex-column{
    display: flex;
    flex-direction: column;
}